.content-card {
  width: 100%;
  display: flex;
}
.container-card {
  display: flex;
  width: 20%;
  height: 215px;
}
.rectangle {
  cursor: pointer;
  display: flex;
  margin: 0 50px;
  margin-bottom: 15px;
  flex-direction: column;
  background-color: #ffffff;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -5px #222;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.08);
  height: 250px;
  &:hover {
    -webkit-box-shadow: 0px 0px 20px -3px #222;
    box-shadow: 0px 0px 20px -3px #222;
  }
}

.container-image {
  width: 100%;
  .bitimage {
    width: 100%;
    height: 170px;
  }
}

.footer-card {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .price-card {
    color: #e44e4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
  }
  .button-card {
    background-color: #e44e4b;
    border-radius: 3px;
    width: 98%;
    margin-top: 13px;
    padding: 3px;
    height: 25px;
    display: flex;
    justify-content: center;
    .text-card {
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      margin-top: 4px;
    }
  }
}
