<div class="content">
  <div class="form-content">
    <div class="register">
      <div [routerLink]="['/cadastro']" class="register-button">
        <span class="text-button">Cadastrar</span>
      </div>
    </div>
  </div>
  <span class="line"></span>
  <div class="login-content">
    <div>
      <label for="username">Email: </label>
      <input type="text" id="username" name="username" />
    </div>

    <div>
      <label for="pass">Senha: </label>
      <input type="password" id="pass" name="password" minlength="8" required />
    </div>

    <div class="register-button">
      <span class="text-button">Login</span>
    </div>
  </div>
</div>
